name: Go
on: [push]
jobs:

  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        go: ['1.12.x', '1.13' ]
    steps:

    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go }}
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Get dependencies
      run: |
        go get -v -t -d ./...
    - name: Instal go mod
      run: |
        export GO111MODULE=on
        go mod download
    - name: Build
      run: go build -v .
    - name: Test
      run: |
        go test -v ./fixtures
        go test -v ./mocks
        go test -v ./models
        go test -v ./output
        go test -v ./runner
        go test -v ./testloader
