name: Building and testing against different environments

on:
  push:
    branches:
    tags:
  pull_request:

env:
  CGO_ENABLED: '0' # https://github.com/golang/go/issues/26988
  GO111MODULE: 'on'

jobs:

  build:
    name: Build on ${{ matrix.os }} for golang ${{ matrix.go }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        go: ['1.23.x', '1.24.x']
    steps:

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v5

    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    - name: Build
      run: go build -v .

    - name: Test
      run: |
        go test -v ./...
